* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
}

header {
  background-color: rgb(80, 168, 168);
  margin-bottom: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 3rem 0px rgb(110, 237, 237);
  z-index: 999;
}

main {
  margin: none;
}

footer {
  padding: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 90;
}

.bi {
  width: 30px;
  height: 30px;
}

.txtFooter {
  font-size: 1.3rem;
}

.redesFooter {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0.7rem;
  font-size: 2.9rem;
  margin: 1rem 0rem 0rem 1rem;
  filter: drop-shadow(0.4rem 0.4rem 0.6rem rgb(120, 120, 120));
}

h2 {
  padding: 0.7rem;
  font-size: 1.8rem;
  margin: 1rem 0rem 1rem 0rem;
}

h3 {
  font-size: 1.3rem;
}

h1, h2, h3, p, label, input, a {
  font-family: "Space Mono", monospace;
}

h1, h2, h3, p {
  color: black;
}

h1, h2, h3 {
  font-weight: bold;
}

p {
  font-size: 0.9rem;
}

b {
  color: rgb(80, 168, 168);
}

a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 0.8rem 1rem 1rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}
nav a {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
}
nav button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

li a {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}

.icon {
  height: 50px;
  width: 50px;
}

.navgridbase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3%;
  margin-right: 3%;
  grid-template-areas: "logo navbutton" ". list";
}

.navgridlist {
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr;
  height: 0;
  opacity: 0%;
}

.navbutton {
  grid-area: navbutton;
  align-self: center;
  justify-self: end;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgb(80, 168, 168);
}

button > div {
  background-color: white;
  height: 3px;
  width: 100%;
  border-radius: 3px;
}

.navbutton:focus + .navgridlist {
  height: 100%;
  opacity: 100%;
}

.navbutton:focus {
  opacity: 0%;
}

/* CLASES HOME */
.gridHome {
  display: grid;
  grid-template-columns: 1fr;
}

.txtHome {
  margin: 0rem 0.7rem 0rem 0.7rem;
}

.imgInicial {
  max-height: 75vh;
  max-width: 75vw;
  filter: drop-shadow(0 0 1rem rgb(80, 168, 168));
  position: relative;
  z-index: 10;
}

.imgInicialPosition {
  display: flex;
  justify-content: center;
}

/* CLASES PAGE - SOBRE MI */
.txtUno {
  grid-area: txtUno;
}

.txtDos {
  grid-area: txtDos;
}

.imgUno {
  grid-area: imgUno;
}

.imgDos {
  grid-area: imgDos;
}

.gridSobreMi {
  display: grid;
  grid-template-areas: "txtUno" "imgUno" "txtDos" "imgDos";
  gap: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3rem;
  justify-self: center;
}

.imgSobreMi {
  height: 25rem;
  width: 25rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1rem 1rem 3rem 0.5rem rgb(120, 120, 120);
  justify-self: center;
}

.txtSobreMi {
  margin-left: 0.2rem;
  min-width: 30rem;
  text-align: justify;
}

/* CLASES PAGE - PROYECTOS */
.gridProyectosSecciones {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 3%;
  margin-right: 3%;
}

.flexProyectos {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem 4rem 0rem;
  justify-content: center;
  gap: 3rem;
}

.card {
  height: 30rem;
  width: 30rem;
  border-radius: 2rem;
  margin: 0.2rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1rem 1rem 3rem 0.5rem rgb(120, 120, 120);
}

.fechaCard {
  align-self: flex-end;
}

.detalle-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: black;
  opacity: 0%;
  transition: 0.5s ease;
  overflow: hidden;
}
.detalle-card h3, .detalle-card p {
  color: white;
  margin: 2rem;
  text-shadow: 1rem;
}

.card:hover .detalle-card {
  height: 100%;
  opacity: 75%;
}

/* CLASES PAGE - CURRICULUM */
button {
  border-radius: 1rem;
  border: 1px solid #474747;
}

.curriculumFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
  flex-wrap: wrap;
}

.curriculum {
  min-width: 90vw;
  max-width: 90vw;
  box-shadow: 1rem 1rem 3rem 0.5rem rgb(120, 120, 120);
  margin-bottom: 2rem;
}

.botonCurriculum {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.botonCurriculum p {
  text-align: center;
}

.botonDescarga {
  background-color: #474747;
  margin-top: 1.5rem;
}

.botonDescarga:hover {
  background-color: white;
  border: 1px #474747 solid;
}

button a:hover {
  color: black;
}

/* CLASES PAGE - CONTACTO */
label {
  font-size: 1.3rem;
  color: white;
}

input, select, textarea {
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
  font-size: 0.9rem;
}

select {
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

.formularioFlex {
  display: flex;
  justify-content: center;
}

.nombreForm {
  grid-area: nombre;
}

.celularForm {
  grid-area: celular;
}

.correoForm {
  grid-area: correo;
}

.servicioForm {
  grid-area: servicio;
}

.comentarioForm {
  grid-area: comentario;
}

.itemForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  margin: 1.5rem;
}

.checkForm {
  grid-area: check;
  text-align: center;
}

.buttonFormArea {
  grid-area: boton;
}

.formulario {
  display: grid;
  grid-template-areas: "nombre" "celular" "correo" "servicio" "comentario" "check" "boton";
  background-color: rgb(80, 168, 168);
  margin: 3rem 4rem 3rem 4rem;
  border-radius: 4rem;
}

.buttonForm {
  border-radius: 1rem;
  height: 3rem;
}

.buttonForm:active {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: white;
  border: 1px;
  box-shadow: 0rem 0rem 1rem 0.5rem white;
  color: white;
}

@media (min-width: 576px) {
  .bi {
    height: 40px;
    width: 40px;
  }
  .txtFooter {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3.3rem;
    margin: 1rem 1rem 0rem 1rem;
  }
  h2 {
    font-size: 2.1rem;
    margin: 1rem 0rem 1rem 0rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
  nav ul li {
    font-size: 1.5rem;
  }
  a {
    padding: 1rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .navgridlist {
    display: grid;
    grid-template-columns: 1fr;
  }
  li a {
    justify-content: flex-end;
  }
  /* CLASES HOME */
  .txtHome {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }
  /* CLASES PAGE - SOBRE MI */
  .gridSobreMi {
    margin-top: 2rem;
  }
  .imgSobreMi {
    height: 35rem;
    width: 35rem;
    border-radius: 2rem;
    margin: 1rem;
  }
  .txtSobreMi {
    margin-left: 1rem;
    max-width: 70rem;
  }
  /* CLASES PAGE - PROYECTOS */
  .card {
    height: 25rem;
    width: 25rem;
  }
  /* CLASES PAGE - CURRICULUM */
  .botonCurriculum {
    flex-direction: column;
    margin: 1.5rem;
    align-items: center;
  }
  .botonDescarga {
    margin: 2rem 2rem 0rem 2rem;
    padding: 1rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  /* CLASES PAGE - CONTACTO */
  label {
    font-size: 1.4rem;
  }
  input, select, textarea {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .bi {
    height: 45px;
    width: 45px;
  }
  .txtFooter {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  nav ul li {
    font-size: 1.7rem;
  }
  a {
    padding: 1rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .navbutton {
    display: none;
  }
  .navgridbase {
    grid-template-columns: 11% 1fr;
    margin-left: 1%;
    margin-right: 1%;
    grid-template-areas: "logo list";
  }
  .navgridlist {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    opacity: 100%;
    height: 100%;
  }
  li a {
    justify-content: center;
    height: 50px;
  }
  /* CLASES HOME */
  .txtHome {
    margin: 4rem 1.5rem 4rem 1.5rem;
  }
  /* CLASES PAGE - SOBRE MI */
  .gridSobreMi {
    grid-template-areas: "txtUno imgUno" "imgDos txtDos";
    align-items: center;
    margin-top: 2rem;
  }
  .contenidoIzq {
    justify-self: flex-end;
  }
  .contenidoDer {
    justify-self: flex-start;
    align-self: flex-end;
  }
  .imgSobreMi {
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
    margin: 1rem;
  }
  .txtSobreMi {
    margin-left: 1rem;
    max-width: 70rem;
  }
  /* CLASES PAGE - PROYECTOS */
  .card {
    height: 33rem;
    width: 33rem;
  }
  /* CLASES PAGE - CURRICULUM */
  .botonCurriculum {
    flex-direction: row;
    max-width: 500px;
    margin: 2rem 2rem 1rem 2rem;
  }
  .botonDescarga {
    margin: 2rem 4rem 0rem 4rem;
  }
  /* CLASES PAGE - CONTACTO */
  label {
    font-size: 1.5rem;
  }
  input, select, textarea {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .txtFooter {
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
    margin: 1rem 0rem 0rem 5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.4rem;
  }
  nav ul li {
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  a {
    padding: 1rem;
    margin: 2rem 2rem 2rem 2rem;
  }
  .icon {
    height: 50px;
    width: 50px;
  }
  .bi {
    height: 50px;
    width: 50px;
  }
  .navgridbase {
    grid-template-columns: 18% 1fr;
  }
  nav a {
    justify-content: center;
  }
  li a {
    justify-content: flex-start;
  }
  /* CLASES HOME */
  .gridHome {
    grid-template-columns: 1fr 1fr;
  }
  .imgInicial {
    max-height: 90vh;
    max-width: 90vw;
    display: flex;
    justify-content: flex-end;
  }
  .txtHome {
    margin: 10rem 5rem 0rem 5rem;
  }
  /* CLASES PAGE - SOBRE MI */
  .gridSobreMi {
    margin-top: 0rem;
  }
  .contenidoDer {
    align-self: center;
  }
  .imgSobreMi {
    margin: 2rem;
  }
  .txtSobreMi {
    margin-left: 2rem;
  }
  /* CLASES PAGE - PROYECTOS */
  .card {
    height: 40rem;
    width: 40rem;
    border-radius: 4rem;
    margin: 1rem;
  }
  /* CLASES PAGE - CURRICULUM */
  .curriculumFlex {
    margin: 1rem 5rem 1rem 5rem;
  }
  .curriculum {
    min-width: 15vw;
    max-width: 35vw;
  }
  .botonCurriculum {
    display: block;
    max-width: 50vw;
  }
  .botonCurriculum p {
    margin-left: 2rem;
  }
  .botonDescarga {
    margin: 2rem 2rem 0rem 2rem;
  }
  /* CLASES PAGE - CONTACTO */
  label {
    font-size: 1.6rem;
  }
  input, select, textarea {
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 1.4rem;
  }
  .formulario {
    display: grid;
    grid-template-areas: "nombre celular" "correo servicio" "comentario comentario" "check check" "boton boton";
    min-width: 40vw;
  }
  .itemForm {
    padding: 2rem 3rem 2rem 3rem;
    margin: 1rem;
  }
  .checkInput {
    grid-area: checkInput;
    margin: 5px;
    justify-self: flex-end;
  }
  .checkLabel {
    grid-area: checkLabel;
    justify-self: flex-start;
  }
  .checkForm {
    display: grid;
    grid-template-areas: "checkInput checkLabel";
  }
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */